* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

header {
    background: linear-gradient(90deg, rgba(86, 179, 233, 1) 16%, rgba(131, 42, 233, 1) 75%);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1, h2 {
    margin-bottom: 20px;
}

.pedido {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.status-button {
    background: linear-gradient(90deg, rgba(86, 179, 233, 1) 16%, rgba(131, 42, 233, 1) 75%);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.status-button:hover {
    background: linear-gradient(90deg, rgba(131, 42, 233, 1) 16%, rgba(86, 179, 233, 1) 75%);
}

.status {
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

footer {
    background-color: #e9d5ff;
    color: #333;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}
