/* Reset de Estilos e Estilos Gerais */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    line-height: 1.6;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background: linear-gradient(90deg, rgba(86, 179, 233, 1) 16%, rgba(131, 42, 233, 1) 75%);
    color: #fff;
    padding: 10px 0;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header img {
    height: auto;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-right: 20px; /* Corrigido de 2 para 20px */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #ff69b4;
}

.nav-menu {
    display: flex;
}

.perfil {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    text-align: center;
}

.perfil h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: #562be9;
}
.perfil-imagem {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.perfil-imagem img {
    width: 150px;
    height: 140px;
    border-radius: 50%;
    margin-right: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.perfil-dados {
    margin-bottom: 20px;
}

.perfil-item {
    margin-bottom: 15px;
}

.perfil-item label {
    font-weight: bold;
    color: #562be9;
    display: block;
    margin-bottom: 5px;
}

.perfil-item p {
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #562be9;
    color: #333;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 21px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
}

.botao {
    display: inline-block;
    background: linear-gradient(90deg, rgba(86, 179, 233, 1) 16%, rgba(131, 42, 233, 1) 75%);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 20px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.botao:hover {
    background: linear-gradient(90deg, rgba(131, 42, 233, 1) 16%, rgba(86, 179, 233, 1) 75%);
}

footer {
    background-color: #e9d5ff;
    color: #333;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

.footer-left, .footer-center, .footer-right {
    flex: 1;
}

.footer-left {
    display: flex;
    align-items: center;
}

.footer-logo {
    height: 100px; 
    width: auto;
    margin-right: 1rem;
}

.footer-left p {
    margin: 0;
    font-size: 14px;
}

.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navMenu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.social-icon {
    color: #333;
    font-size: 24px;
    margin-left: 1rem;
    transition: color 0.3s;
}

.social-icon:hover {
    color: #5b3a9b;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }
  
    .nav-menu {
        display: none;
        width: 100%;
        text-align: center;
    }
  
    .nav-menu.active {
        display: block;
    }
  
    .nav-menu ul {
        display: block;
    }
  
    .nav-menu ul li {
        margin: 10px 0;
    }
}
